{namespace v = FluidTYPO3\Vhs\ViewHelpers}

<!-- Header -->
<f:render partial="Header" arguments="{_all}" />

<!--TYPO3SEARCH_begin-->
<div class="container">
    <f:render section="main" />
</div>
<!--TYPO3SEARCH_end-->

<!-- Footer -->
<f:render partial="Footer" arguments="{_all}" />
